// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-ico-select01-name: 'sprite-ico_select01';
$sprite-ico-select01-x: 0px;
$sprite-ico-select01-y: 0px;
$sprite-ico-select01-offset-x: 0px;
$sprite-ico-select01-offset-y: 0px;
$sprite-ico-select01-width: 88px;
$sprite-ico-select01-height: 88px;
$sprite-ico-select01-total-width: 176px;
$sprite-ico-select01-total-height: 176px;
$sprite-ico-select01-image: 'img/sprite.png';
$sprite-ico-select01: (0px, 0px, 0px, 0px, 88px, 88px, 176px, 176px, 'img/sprite.png', 'sprite-ico_select01', );
$sprite-ico-select02-name: 'sprite-ico_select02';
$sprite-ico-select02-x: 88px;
$sprite-ico-select02-y: 0px;
$sprite-ico-select02-offset-x: -88px;
$sprite-ico-select02-offset-y: 0px;
$sprite-ico-select02-width: 88px;
$sprite-ico-select02-height: 88px;
$sprite-ico-select02-total-width: 176px;
$sprite-ico-select02-total-height: 176px;
$sprite-ico-select02-image: 'img/sprite.png';
$sprite-ico-select02: (88px, 0px, -88px, 0px, 88px, 88px, 176px, 176px, 'img/sprite.png', 'sprite-ico_select02', );
$sprite-ico-select03-name: 'sprite-ico_select03';
$sprite-ico-select03-x: 0px;
$sprite-ico-select03-y: 88px;
$sprite-ico-select03-offset-x: 0px;
$sprite-ico-select03-offset-y: -88px;
$sprite-ico-select03-width: 88px;
$sprite-ico-select03-height: 88px;
$sprite-ico-select03-total-width: 176px;
$sprite-ico-select03-total-height: 176px;
$sprite-ico-select03-image: 'img/sprite.png';
$sprite-ico-select03: (0px, 88px, 0px, -88px, 88px, 88px, 176px, 176px, 'img/sprite.png', 'sprite-ico_select03', );
$sprite-ico-select04-name: 'sprite-ico_select04';
$sprite-ico-select04-x: 88px;
$sprite-ico-select04-y: 88px;
$sprite-ico-select04-offset-x: -88px;
$sprite-ico-select04-offset-y: -88px;
$sprite-ico-select04-width: 84px;
$sprite-ico-select04-height: 88px;
$sprite-ico-select04-total-width: 176px;
$sprite-ico-select04-total-height: 176px;
$sprite-ico-select04-image: 'img/sprite.png';
$sprite-ico-select04: (88px, 88px, -88px, -88px, 84px, 88px, 176px, 176px, 'img/sprite.png', 'sprite-ico_select04', );
$spritesheet-width: 176px;
$spritesheet-height: 176px;
$spritesheet-image: 'img/sprite.png';
$spritesheet-sprites: ($sprite-ico-select01, $sprite-ico-select02, $sprite-ico-select03, $sprite-ico-select04, );
$spritesheet: (176px, 176px, 'img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
