<html>
<head>
<% include ../partial/_head_basic %>
</head>
<body>
        <div class="wrapper">
            <div class="row">
                <div class="slider container">
                    <div class="slider-for">
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/01.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/02.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/06.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/04.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/05.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/03.png" alt=""></div>
                    </div>     
                    <div class="slider-for 02">
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/01.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/02.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/06.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/04.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/05.png" alt=""></div>
                        <div class="sp-slide"><img src="http://agn.jp/blog/examples/images/160127/03.png" alt=""></div>
                    </div>   
                    <div class="slider-nav">
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/01.png" alt=""></div>
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/02.png" alt=""></div>
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/06.png" alt=""></div>
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/04.png" alt=""></div>
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/05.png" alt=""></div>
                            <div class="sp-thumbnail"><img src="http://agn.jp/blog/examples/images/160127/03.png" alt=""></div>
                        </div>
                </div>
            </div>
        </div>
</body>

</html>